@media screen and (max-width:1024px){

}

@media screen, (min-width:767px) and (max-width:1023px){

}

@media screen and (max-width:1000px) {
                /* HOME*/
               /*NAVIGATION*/  

nav{
  position: fixed;
  top:0;
  width: 100%;
  background-color:rgb(0, 0, 15 );
  padding: 25px 0;
  z-index: 2;
}
.bars .bar{
  width: 60px;
  height: 10px;
  margin: 15px 0;
  background-color: #fff;
}
.bars{
  margin-top: 8%;
  display: block;
  float: right;
  font-size: 60px;
}
#check:checked ~  ul{
     display: block;
}
.nav-cont{
  width: 90%;
  margin: auto;
  display:inline-block;
}
.logo img{
  width: 40%;
  height: 200px;
  line-height: 70px;
  
}
nav ul{
  position: absolute;
  top:0;
  right: 0;
  background-color: white;
  width:60%;
  padding:40px 40px;
  height: 100vh ;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  line-height: 2;
  font: 18px 'Poppins', sans-serif;
  text-transform: capitalize;
  display: none;
}
ul .bars{
  float: none;
  margin: 40px 0;
}
ul i{
  color: black;
}
nav ul button{
  padding: 0 0;
  background-color:white;
  font-size: 18px;
  color: black;
}
nav ul li{
  margin: 25px 0;
  line-height: 2;
}
nav ul li a{
  font: 18px 'Poppins', sans-serif;
  font-weight: 400;
  padding: 10px 0;  
  line-height: 3;
  color: black;
  font-size: 40px;
}
nav .active{
  text-decoration: none;
  color:rgb(4, 77, 248) ;
}
nav a:hover{
  text-decoration: none;
  color:rgb(4, 77, 248) ;
}
      /*HERO-SECTION*/

.hero-section{
  margin: 250px 0;
  height:47vh;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ), url(images/pexels-césar-valeu-1628095.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.hero-section .hero h1{
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 7px;
  line-height: 5.5rem;
}
.hero{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
}
.hero p{
  font-size: 35px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.5px; 
  line-height: 5.5rem;
  color: #fff;
}
.hero button{
  padding: 20px 45px;
  border: none;
  border-radius: 40px;
  background-color: blue;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.hero button a{
  font-size: 35px;
}
      /*WHAT WE OFFER*/

 .courses .wwo{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset:15px;
  padding: 20px 0 30px 0;
 
 }
 .wwo {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset:15px;
  padding: 20px 0 40px 0;
  
 }
 .courses{
  display: grid;
  grid-template-columns: 1fr 1fr ;
 }
 .courses .first-row{
  width: 100%;
  margin:50px auto ;
  display: grid; 
  grid-template-columns: 1fr ;
 }
 .courses .second-row{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr ;
 }
.courses .box{
  box-shadow: #ccc 3px 3px 7px;
  width: 70%;
  padding: 80px 40px;
  margin:30px auto;
  border-radius: 15px;
}
.box h1{
  text-align: center;
  text-decoration: none;
  font-size: 40px;

}
.box p{
  font-size: 20px;
}
.button{
  width: 100%;
  padding:3% 50% ;
}
.service-btn{
  border: none;
  border-radius: 60px;
  background-color: rgb(4, 77, 248);
  padding: 20px 110px;
}
button a{
  color: white;
  text-transform: capitalize;
  font-size: 30px;
}
      /*MEET OUR TEAM*/

.manager{
  width:90%;
  margin:50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.manager img{
  width:440px; 
  height:20vh ;
  border-radius: 40px;
  box-shadow:#ccc 5px 2px 10px ;
}
.team-text{
  width:400px;
  margin: 0 20px;
}
.team-text .blue-text{
  color: rgb(158, 158, 242);
  font-size:20px ;
}
.team-text h2{
  font-size: 20px;
  margin: 17px 0;
}
.manager .team-text p{
    font-size: 18px;
    margin:20px 0 ;
    font-family: 'Poppins',sans-serif;
  
}
.manager .team-text .small-text{
  font-size: 8px;
  font-weight:200;
  color:rgb(158, 158, 242) ;
  
}
      /*STUDENT REVIEWS*/

.student-reviews  .wwo {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset:15px;
  padding: 20px 0 40px 0;
  }

.content {
  width:90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr ;

}
.profile-cont{
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  box-shadow: 4px 4px 4px #9a979728;
  margin: 50px 10px;
  padding: 50px 30px;
}
.profile{
  display: flex;
  
}
.profile img{
  height:200px;
  width: 200px;
  border-radius:100px;
  margin: 10px 20px;
}
.profile span{
  font-size: 40px;
  font-weight: bold;
  
} 
.profile p{
  font-size: 25px;
}
      /*FOOTER*/

footer{
background-color:rgb(0, 0, 15 );
width: 100%;
}
.news-letter{
  width: 80%;
  margin:40px auto;
  display: block;
}
.news-letter h1{
  text-align: center;
  margin: 0 15px;
  line-height: 30px;
  color:white;
}
.inp-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.news-letter input{
  justify-content: center;
  margin:15px 0;
  padding: 15px 10px;
  background-color:transparent ;
  font-size: 15px;
  color: white;
}
.news-letter input::placeholder{
  color: #ccc;
  font-size: 20px;
}
.news-letter button{
  padding:10px 30px ;
  font-size: 15px;
  background-color: rgb(4, 77, 248);
  color: white;
}
.news-letter button i{
  margin: 0;
}
.last{
  width: 90%;
  margin: 20px auto;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.last img{
  margin: 40px 0;
  width: 160px;
  height:150px;
  border-radius: 75px;
}
.last p{
  line-height: 2;
  margin: 30px 0;
  font-size:14px;
  color: rgba(255, 255, 255, 0.707);
  padding: 20px 0;
  text-align: center;
  
}

.last span{
  margin-bottom: 100px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-decoration: underline blue;
  text-underline-offset: 5px;
}

.last p a{
  color:rgba(255, 255, 255, 0.707);
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
i{
  color:white;
  margin: 5px 10px;
}
.something{
  width: 95%;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr;
  place-items: center;
  height:fit-content;
}
.something div {
  line-height:80px;
  font-size: 20px;
  color:#fff;
  text-align: center;  
}
.icons{
  display: flex;
  line-height: 80px;
  margin-right: 400px;
}
.icons i{
  margin:20px 20px ;
  font-size: 30px;
}
 
         /*services*/

        /*HERO-SECTION*/
.service-herosection{
  background:linear-gradient(rgba(0, 0, 0,0.9 ),rgba(0, 0, 0,0.9) ),url(images/pexels-andres-ayrton-6578395.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 250px 0;
  height:27vh;
  width: 100%;
}
.service-herosection div{
  padding: 17%;
  text-align: center;
  font-size: 60px;
  color:white;
}
.service-herosection p{
  font-size: 20px;
}
.service-h1{
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset: 10px;
}
        /*OUR SERVICES*/ 

.our-services{
  width: 100%;
  margin: auto;
  background-color: rgb(4, 77, 248);
  color: #ccc;
  display: grid;
  grid-template-columns: 1fr;

}
.our-services h1{
  text-decoration: none;
  font-size: 30px;
}
.our-services-cont1{

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.our-services-cont2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.our-services p{
  background-color: #fff;
  color: black;
  border-radius: 50px;
  box-shadow: 5px 5px 1px 10px #fff;
  margin: 20px 0;
  width: 300px;
  height: 150px;
  padding: 50px 50px;
  font-size: 15px;
}
.our-services p span{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.our-services .odd{
  display: none;
}
.our-services i{
  color: black;
}
.our-services div{
  padding: 20px 20px;
}  
           /*ALL COURSES*/

.service-courses {
  display: grid;
  grid-template-columns:1fr 1fr ;
}
.service-courses h1{
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset: 10px;
}
.service-courses .first-row{
 width: 100%;
 margin: auto;
 display: grid;
 grid-template-columns: 1fr ;
}
.service-courses .second-row{
 width: 100%;
 margin: auto;
 display: grid;
 grid-template-columns: 1fr ;
 
}
.service-courses .third-row{
 width: 100%;
 margin: auto;
 display: grid;
 grid-template-columns: 1fr ;
}
.service-courses .fourth-row{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr ;

 }
.service-courses .box{
  background-color:white;
 width: fit-content;
 box-shadow: #ccc 3px 3px 7px;
 border: none;
 border-radius:20px;
 padding: 20px 40px;
 margin: 50px 20px;
}
.service-courses .box h1{
  color:black;
 text-align: center;
 text-decoration: none;
 font-size: 30px;
}
.service-courses .box img{
  width: 350px;
  height: 150px;
}
.enroll-btn{
  margin: 40px auto;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  border: none;
  box-shadow:rgb(4, 77, 248) 3px 3px 40px ;
  background-color: rgb(4, 77, 248);
  color: white;
  border-radius: 30px;
}

/*ABOUT US*/
         /*HERO-SECTION*/  
.about-herosection{
  background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ),url(images/pexels-ricky-esquivel-1666667.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 250px 0;
  height:27vh;
  width: 100%;
}
.about-herosection div{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  color: white;
}  
.about-herosection div h1{
  font-size: 60px;
  
}
                  /*CEO*/
.CEO{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.CEO img{
  margin: 60px 0;
  height: 450px;
  width: 450px;
  border-radius: 40px;
  box-shadow: 3px 3px 7px #ccc;
}
.ceo-text h1{
  font-size: 30px;
}
.ceo-text .blue-text{
  color: rgb(158, 158, 242);
  font-size:30px ;
}
.ceo-text .small-text{
  color: rgb(158, 158, 242);
}
.CEO .ceo-text{
     margin:60px 30px ;
     font-size: 15px;
}
           /*WHO WE ARE */
.about-us-text .about-img img{
  height: 500px;
  width:500px ;
  border-radius: 250px;
  border: solid white;
  position:static;
  bottom: 0;
  right:0;
  z-index: 1;
}

.about-us-text{
  width: 90%;
  margin: 100px auto ;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: rgb(4, 77, 248) ;
  padding: 30px 50px;
  border-radius: 40px ;
}
.about-us-text p{
  font-size: 30px;
  color: white;
  line-height: 40px;
}
.about-us-text .more-btn{
  padding: 10px 40px;
  border-radius: 30px;
  text-transform:capitalize;
  background-color:rgb(4, 77, 248);
  border: 1px solid black;
  cursor: pointer;
}
.about-us-text .more-btn:hover{
  background-color: white;
}
.dedicated-staffs{
  margin: 80px 0;
 width: 100%;
 background-color:black;
}
.staffs{
  display: flex;
  flex-direction: column;
}
.staffs img{
  height: 30vh;
  width: 100%;
}
.staffs img:hover{
  opacity: 0.5;
}
              /*STRATEGY*/
.strategy{
  width:95%;
  margin:70px auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items:center ;
 }
.strategy-cont{
  box-shadow: 3px 3px 7px  #ccc;
  border-radius: 40px;
  margin: 70px 30px;
  padding: 20px 20px;
}
.strategy-cont h1{
  text-align: center;
}
.strategy-cont p{
  font-size: 12px;
}
.strategy-cont i{
  background-color:  rgb(4, 77, 248);
  font-size: 60px;
  margin: 10px 40%;
  border-radius: 20px 0 20px 0;
}



                /*CONTACT US*/

                /*HERO-SECTION*/
.contact-herosection{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8) ),url(images/pexels-ricky-esquivel-1666667.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 250px 0;
  height:27vh;
  width: 100%;
}
.contact-herosection div{
  padding:16%;
  text-align: center;
  color: white;
}  
.contact-herosection div h1{
  font-size: 60px;
  
}
            /*CONTACT DETAILS*/

.contact-det{
  width: 80%;
  margin: 50px auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contact-cont h2{
  text-decoration:underline rgb(4, 77, 248);
  text-underline-offset: 10px;
  font-size: 30px;
}
.contact-cont{
  margin: 50px 20px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-cont p{
  color: rgba(0, 0, 255, 0.729);
  font-size: 15px;
  line-height: 2;
  text-align: center;
}
.contact-cont #icon{
  margin: auto;
  font-size: 40px;

}
.contact-cont i{
  color:rgba(0, 0, 255, 0.729) ;
}
                


              /*MESSAGE US*/

.Message{
  width: 100%;
  margin:70px auto;
  display: grid;
  grid-template-columns: 1fr ;
 
}
.Message img{
  width: 500px;
  height: 400px;
}
.Message form{
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr;
}
.Message input{
  padding: 20px 40px;
  width: 400px;
  margin: 20px 10px;
  border: none;
  box-shadow: #ccc 3px 3px 7px;
  border-radius: 40px;
}
input::placeholder{
  color: black;
  font-size: 20px;
  font-weight: 400px;
}
.Message textarea{
  box-shadow: #ccc 3px 3px 7px;
  margin:10px 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
textarea::placeholder{
  color: black;
  font-size: 20px;
  font-weight: 400px;
}
iframe{
  width: 100%;
  margin: 70px 0;
  height: 37vh;

}
.Message button{
  float: none;
  padding: 10px 20px;
  border: none;
  box-shadow: 4px 4px 15px  rgb(4, 77, 248);
  font-size: 30px;
  border: none;
  background-color: rgb(4, 77, 248);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

     /*SIGN UP*/
     
.signup-herosection{
  margin-top: 150px;
  height:700px;
  width: 100%;
  /*background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ), url(images/pexels-césar-valeu-1628095.jpg);*/
  background-size:cover;
  background-repeat: no-repeat;
}
.signup-herosection form{
  border: 1px solid rgb(4, 77, 248);
  height: 400px;
  margin:300px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items:center;

}
.signup-herosection form p{
  margin-top: 20px;
  font-size: 20px;
}
.signup-herosection form input{   
  width: 300px;
  padding:15px 10px ;
  border-radius: 20px;
  box-shadow: 3px 3px 7px #ccc;
  border: none;
  font-size: 15px;  
}

         /*LOGIN*/

.login-herosection{
  margin-top: 125px;
  height:700px;
  width: 100%;
  /*background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ), url(images/pexels-césar-valeu-1628095.jpg);*/
  background-size:cover;
  background-repeat: no-repeat;
}
.login-herosection form{
  border: 2px solid rgb(4, 77, 248);
  height: 300px;
  margin:300px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items:center;

}
.login-herosection form input{   
  width: 300px;
  padding:15px 10px ;
  box-shadow: 3px 3px 7px #ccc;
  border-radius: 20px;
  border: none;
  font-size: 16px;  
  margin: 10px 0;
}
.login-herosection form p{
  margin-top: 20px;
}
.signin-btn{
  background-color:rgb(4, 77, 248) ;
  margin-top: 40px;
  border: none;
  font-size: 25px;
  border-radius:40px;
  color: #fff;
  padding: 10px 35px;
  text-transform: capitalize;
}
}
