/*HOME*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: #fff;
}

      /*NAVIGATION*/

nav{
  position: fixed;
  top:0;
  width: 100%;
  background-color:rgb(0, 0, 15 );
  padding: 25px 0;
  z-index: 2;
}/*
.bars .bar{
  width: 60px;
  height: 10px;
  margin: 10px 0;
  background-color: #fff;
}*/
.bars{
  border: none;
  float: right;
  display: none;
}
.nav-cont{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo img{
  height: 90px;
  width: 90px;
  border-radius: 100px;
  line-height: 70px;
  
}
#check{
  display: none;
}
nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  line-height: 70px;
  font: 18px 'Poppins', sans-serif;
  text-transform: capitalize;
}
nav ul button{
  padding: 20px 10px;
  background-color: rgb(4, 77, 248);
  font-size: 15px;
  color: white;
  border: none;
}
nav ul li a{
  color: white;
  font-size: 15px;
}
nav .active{
  text-decoration: underline 3px rgb(4, 77, 248);
  text-underline-offset: 20px;
}
nav a:hover{
  text-decoration: underline 3px rgb(4, 77, 248);
  text-underline-offset: 20px;
}

      /*HERO-SECTION*/

.hero-section{
  margin: 50px 0;
  height:500px;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ), url(images/pexels-césar-valeu-1628095.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.hero-section .hero h1{
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 7px;
  line-height: 4.5rem;
 }
 .hero{
  text-align: center;
  padding: 12%;
 }
.hero p{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  line-height: 4.5rem;
  color: #fff;
}
.hero button{
  padding: 20px 45px;
  border: none;
  border-radius: 50px;
  background-color: rgb(4, 77, 248);
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
         /*WHAT WE OFFER*/

 .courses .wwo{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset:15px;
  padding: 20px 0 40px 0;
 
 }

 .wwo {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset:15px;
  padding: 20px 0 40px 0;
 }

 .courses .first-row{
  width: 80%;
  margin: auto;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
 }
 .courses .second-row{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }
.courses .box{
  box-shadow: #ccc 3px 3px 7px;
  width: fit-content;
  padding: 40px 50px;
  margin: 20px 20px;
  border-radius: 15px;
}
.box h1{
  text-align: center;
  text-decoration: none;
  font-size: 30px;

}
.box p{
  font-size: 15px;
  
}
.button{
  width:10%;
  margin: auto;
}
.service-btn{
  border: none;
  border-radius: 60px;
  background-color: rgb(4, 77, 248);
  padding: 10px 20px;
  margin: 20px 0;
}
button a{
  color: white;
  text-transform: capitalize;
  font-size: 15px;
}

        /*MEET OUR TEAM*/

.manager{
  width: 90%;
  margin:50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.manager img{
  width:580px;
  border-radius: 30px;
  box-shadow:#ccc 5px 2px 10px ;
}
.team-text{
  width: 500px;
  margin: 0 20px;
}
.team-text .blue-text{
  color: rgb(158, 158, 242);
  font-size:30px ;
}
.team-text h2{
  font-size: 30px;
  margin: 17px 0;
}
.manager .team-text p{
    font-size: 15px;
    margin:20px 0 ;
    font-family: 'Poppins',sans-serif;
  
}
.manager .team-text .small-text{
  font-size: 15px;
  font-weight:200;
  color:rgb(158, 158, 242) ;
 
}

      /*STUDENT REVIEWS*/

.student-reviews  .wwo {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset:15px;
  padding: 20px 0 40px 0;
 }

.content {
  width:80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.profile-cont{
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  box-shadow: 4px 4px 4px #9a979728;
  border-radius: 40px;
  margin: 50px 30px;
  padding: 20px 20px;
}
.profile{
  display: flex;
}
.profile img{
  height:50px;
  width: 50px;
  border-radius: 30px;
}
.profile span{
  font-size: 15px;
  font-weight: bold;
} 
.profile p{
  font-size: 15px;
}

      /*FOOTER*/

footer{
 background-color:rgb(0, 0, 15 );
 width: 100%;
}
.news-letter{
  width: 80%;
  margin:auto;
  display: flex;
  padding: 50px;
}
.news-letter h1{
  margin: 0 30px;
  line-height: 60px;
  color:white;
}
.news-letter input{
  padding: 10px 10px;

  background-color:transparent ;
  border-radius: 40px;
  font-size: 25px;
  color: white;
}
.news-letter button{
  cursor: pointer;
  padding:5px 50px ;
  border: none;
  border-radius: 40px;
  font-size: 30px;
  background-color: rgb(4, 77, 248);
  color: white;
}
.last{
  width: 90%;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.last img{
  width: 160px;
  height:150px;
  border-radius: 75px;
}
.last p{
  margin: 10px 0;
  line-height: 30px;
  font-size:15px;
  color: rgba(255, 255, 255, 0.707);
  
}
.last span{
  margin-bottom: 40px;
  font-size: 30px;
  color: white;
  text-decoration: underline blue;
  text-underline-offset: 5px;
}

.last p a{
  display: block;
  color:rgba(255, 255, 255, 0.707);
  line-height: 30px;
  font-size: 15px;
}
i{
  color:white;
}
.something{
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80px;
}
.something div{
  line-height: 80px;
  font-size: 15px;
  color: white;
}
.icons{
  margin-left: 300px;
  line-height: 80px;
}
.icons i{
  margin:5px 10px ;
  height: 30px;
  box-shadow: 2px 2px 8px rgb(80, 78, 78);
  width: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
}

        /*SERVICES*/

        /*HERO-SECTION*/
.service-herosection{
  background:linear-gradient(rgba(0, 0, 0,0.9 ),rgba(0, 0, 0,0.9) ),url(images/pexels-andres-ayrton-6578395.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.service-herosection div{
  padding: 17%;
  text-align: center;
  font-size: 60px;
  color:white;
}
.service-herosection p{
  font-size: 20px;
}
.service-h1{
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset: 10px;
}
        /*OUR SERVICES*/ 

.our-services{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(4, 77, 248);
  color: #ccc;

}
.our-services h1{
  text-decoration: none;
  font-size: 30px;
}
.our-services p{
  background-color: #fff;
  color: black;
  border-radius: 50px 0 0px 0;
  box-shadow: 5px 5px 1px 10px #fff;
  margin: 20px 20px;
  padding: 50px 50px;
  font-size: 20px;
}
.our-services p span{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.our-services i{
  color: black;
}
.our-services div{
  padding: 20px 30px;
}  
           /*ALL COURSES*/

.service-courses {
  background-color:v  ;
}
.service-courses h1{
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
  text-decoration: underline rgb(4, 77, 248);
  text-underline-offset: 10px;
}
.service-courses .first-row{
 width: 90%;
 margin: auto;
 display: grid; 
 grid-template-columns: 1fr 1fr 1fr ;
}
.service-courses .second-row{
 width: 90%;
 margin: auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
}
.service-courses .third-row{
 width: 90%;
 margin: auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
}
.service-courses .fourth-row{
  width: 90%;
  margin: auto;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr ;
 }
.service-courses .box{
  background-color:white;
 width: fit-content;
 box-shadow: #ccc 3px 3px 7px;
 border: none;
 border-radius:20px;
 padding: 20px 40px;
 margin: 10px 20px;
}
.service-courses .box h1{
  color:black;
 text-align: center;
 text-decoration: none;
 font-size: 30px;
}
.service-courses .box img{
  width: 250px;
  height: 150px;
}
.enroll-btn{
  margin: 20px 40%;
  padding: 15px 25px;
  font-size: 20px;
  border: none;
  background-color: rgb(4, 77, 248);
  color: white;
  border-radius: 30px;
}
         /*ABOUT US*/     

         /*HERO-SECTION*/  
.about-herosection{
  background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ),url(images/pexels-ricky-esquivel-1666667.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.about-herosection div{
  padding:16%;
  text-align: center;
  color: white;
}  
.about-herosection div h1{
  font-size: 60px;
  
}
                  /*CEO*/
.CEO{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.CEO img{
  margin: 60px 0;
  height: 450px;
  width: 600px;
  border-radius: 40px;
  box-shadow: 3px 3px 7px #ccc;
}
.ceo-text h1{
  font-size: 30px;
}
.ceo-text .blue-text{
  color: rgb(158, 158, 242);
  font-size:30px ;
}
.ceo-text .small-text{
  color: rgb(158, 158, 242);
}
.CEO .ceo-text{
     margin:60px 30px ;
}
           /*WHO WE ARE */
.about-us-text .about-img img{
  height: 500px;
  width:500px ;
  border-radius: 250px;
  border: solid white;
  position:relative;
  bottom: 140px;
  right: 100px;
  z-index: 1;
}

.about-us-text{
  width: 70%;
  margin: 100px auto ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(4, 77, 248) ;
  padding: 30px 50px;
  border-radius: 40px 40px 40px 350px;
}
.about-us-text p{
  font-size: 20px;
  color: white;
  line-height: 40px;
}
.about-us-text .more-btn{
  padding: 10px 40px;
  border-radius: 30px;
  text-transform:capitalize;
  background-color:rgb(4, 77, 248);
  border: 1px solid black;
  cursor: pointer;
}
.about-us-text .more-btn:hover{
  background-color: white;
}
.dedicated-staffs{
  margin: 80px 0;
 width: 100%;
 background-color:black;
}
.staffs{
  display: flex;
  flex-direction: row;
}
.staffs img{
  height: 400px;
  width: 400px;
}
.staffs img:hover{
  opacity: 0.5;
}
              /*STRATEGY*/
.strategy{
  width:95%;
  margin:70px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }
.strategy-cont{
  box-shadow: 3px 3px 7px  #ccc;
  border-radius: 40px;
  margin: 20px 30px;
  padding: 20px 20px;
}
.strategy-cont h1{
  text-align: center;
}
.strategy-cont i{
  background-color:  rgb(4, 77, 248);
  font-size: 60px;
  margin: 10px 40%;
  border-radius: 20px 0 20px 0;
}
                /*CONTACT US*/

                /*HERO-SECTION*/
.contact-herosection{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8) ),url(images/pexels-ricky-esquivel-1666667.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.contact-herosection div{
  padding:16%;
  text-align: center;
  color: white;
}  
.contact-herosection div h1{
  font-size: 60px;
  
}
            /*CONTACT DETAILS*/

.contact-det{
  width: 80%;
  margin: 50px auto;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.contact-cont h2{
  text-decoration:underline rgb(4, 77, 248);
  text-underline-offset: 10px;
  font-size: 30px;
}
.contact-cont{
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.contact-cont p{
  color: rgba(0, 0, 255, 0.729);
  font-size: 15px;
}
.contact-cont #icon{
  margin: auto;
  font-size: 40px;

}
.contact-cont i{
  color:rgba(0, 0, 255, 0.729) ;
}
                
              /*CONTACT*/

.contact{
  width: 80%;
  margin:100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


              /*MESSAGE US*/

.Message{
  width: 90%;
  margin:70px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Message img{
  width: 500px;
  height: 400px;
}
.Message input{
  padding: 20px 40px;
  margin: 20px 10px;
  border: none;
  box-shadow: #ccc 3px 3px 7px;
  border-radius: 40px;
}
.Message textarea{
  box-shadow: #ccc 3px 3px 7px;
  margin:10px 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
.Message button{
  float: right;
  padding: 10px 20px;
  border: none;
  box-shadow: 4px 4px 15px  rgb(4, 77, 248);
  font-size: 20px;
  border: none;
  background-color: rgb(4, 77, 248);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

     /*SIGN UP*/
     
.signup-herosection{
  margin-top: 125px;
  height:700px;
  width: 100%;
  /*background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ), url(/images/pexels-césar-valeu-1628095.jpg);*/
  background-size:cover;
  background-repeat: no-repeat;
}
.signup-herosection form{
  border: 1px solid rgb(4, 77, 248);
  height: 400px;
  margin:200px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items:center;

}
.signup-herosection form p{
  margin-top: 20px;
}
.signup-herosection form input{   
  width: 300px;
  padding:15px 10px ;
  border-radius: 20px;
  box-shadow: 3px 3px 7px #ccc;
  border: none;
  font-size: 16px;  
}

         /*LOGIN*/

.login-herosection{
  margin-top: 125px;
  height:700px;
  width: 100%;
  /*background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) ), url(/images/pexels-césar-valeu-1628095.jpg);*/
  background-size:cover;
  background-repeat: no-repeat;
}
.login-herosection form{
  border: 2px solid rgb(4, 77, 248);
  height: 300px;
  margin:200px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items:center;

}
.login-herosection form input{   
  width: 300px;
  padding:15px 10px ;
  box-shadow: 3px 3px 7px #ccc;
  border-radius: 20px;
  border: none;
  font-size: 16px;  
  margin: 10px 0;
}
.login-herosection form p{
  margin-top: 20px;
}
.signin-btn{
  background-color:rgb(4, 77, 248) ;
  margin-top: 40px;
  border: none;
  font-size: 25px;
  border-radius:40px;
  color: #fff;
  padding: 10px 35px;
  text-transform: capitalize;
}